* {
    margin: 0%;
    padding: 0%;
}

h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    padding-top: 178px;
    padding-bottom: 28px;
}

h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #0E204E;
}

h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

header {
    margin: 50px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 335px;
}

header p {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #0E204E;
}

.hero-bg {
    text-align: center;
    color: #FFFFFF;
    margin: 22px 20px 0px;
    width: 335px;
    height: 643px;
    background-image: url(/images/mobile.png);
}

.hero-bg p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
}

.hero-bg input {
    background-color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-top: 32px;
    cursor: pointer;
}

.About {
    margin: 56px 20px 0px;
    text-align: center;
    width: 335px;
}

.About div {
    display: flex;
    justify-content: space-between;
    background: url(/images/unsplash_4T4AcGJvARQ.png);
    color: white;
    padding: 40px 20px;
    margin-top: 24px;
    align-items: center;
}

.About div svg {
    max-width: 100%;
    height: 16px;
}

.About p {
    width: 224px;
    height: 312px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
}

.choose {
    text-align: center;
    margin: 56px 20px 0px;
}

.choose p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #0E204E;
    width: 320px;
    padding: 16px 0px;
    margin: 0px auto;
}

.offers {
    margin: 56px 20px 0px;
}

.offers-bg {
    width: 299px;
    height: 247px;
    z-index: +1;
    position: absolute;
    left: 38px;
    top: 2314px;
}

.offers-svg {
    position: absolute;
    width: 299px;
    height: 247px;
    left: 38px;
    top: 2314px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.row {
    justify-content: space-between;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    z-index: auto;
    margin-top: 32px;
}

.row div {
    width: 82px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    z-index: inherit;
}

.offers img {
    margin: 26px auto auto;
}

.available {
    margin: 246px 20px 0px;
    text-align: center;
}

.available p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #263238;
    padding: 16px 0px 24px;
}

.column {
    display: flex;
    justify-content: space-between;
}

.agent {
    text-align: center;
    margin: 56px 0px 0px;
    color: white;
    background-color: #0E204E;
    padding: 32px 20px 0px;
}

.agent h2 {
    color: white;
}

.agent p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    height: 78px;
    padding: 16px 20px 0px;
}

.agent input {
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 10px 18px;
    margin: 24px 0px 40px;
}

.contact {
    margin: 56px 20px 0px;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.contact label {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #0E204E;
}

.contact p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    margin-top: 15px;
}

.contact input {
    margin-top: 20px;
    height: 21px;
    width: 275px;
    border: 0em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    padding-bottom: 12px;
}

.contact div p {
    text-align: left;
    margin: 24px 0px 0px 30px;
}

.contact div input {
    height: 83px;
    border: 1px solid rgba(0, 0, 0, 0.35);
}

.contact button {
    background: #0E204E;
    border-radius: 5px;
    color: white;
    padding: 10px 24px;
    border: none;
    margin-top: 16px;
}

.copy {
    margin-top: 56px;
    text-align: center;
    padding: 21px 66px;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    background-color: #0E204E;
}

.copy div {
    display: flex;
    margin-top: 15px;
}